<% define_template "donor_detail", jsonmodel_definition(:donor_detail) do |form| %>
  <div class="subrecord-form-fields">
  	<% if form.obj["donor_number"].blank? %>
	<%= form.label_and_textfield "donor_number", {:field_opts => {:automatable => true}} %>
	<% else %>
	<%= form.label_and_textfield "donor_number" %>
	<% end %>
    <%= form.label_and_textfield "dart_id" %>
    <%= form.label_and_textfield "beal_contact_id" %>
  </div>
<% end %>

<script type="text/javascript">
$(function() {

  var init_donor_form = function(subform) {
    var $subform = $(subform);
    var $checkbox = $(":checkbox[name$=\"[donor_number_auto_generate]\"]", $subform);
    var $donorNumberField = $(":input[name$=\"[donor_number]\"]", $subform);


    var disableDonorNumber = function() {
      $donorNumberField.attr("readonly","readonly");
      $donorNumberField.prop('disabled', true);
      $userEnteredDonorNumberField = $donorNumberField[0].value;
      $donorNumberField[0].value = $checkbox.attr("display_text_when_checked");
    }


    if ($checkbox.is(":checked")) {
      disableDonorNumber();
    }

    $checkbox.change(function() {
      if ($checkbox.is(":checked")) {
        disableDonorNumber();
      } else {
        $donorNumberField.prop('disabled', false);
        $donorNumberField.removeAttr("readonly");
        $donorNumberField[0].value = $userEnteredDonorNumberField;
      }
    });

};


  $(document).bind("subrecordcreated.aspace", function(event, object_name, subform) {
    if (object_name === "donor_detail") {
      init_donor_form($(subform));
    }
  });

});
</script>

<% if false %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/donor_detail.crud.js" %>
<% end %>